label {
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
}

.loading{
    font:x-large 'Fira Sans', sans-serif;
}

input{
    margin: 5px;
    margin-left: 3px;
}

label {
    margin: 5px;
}

select{
    margin: 5px;
    margin-left: 3px;
}

.results{
    border-collapse: collapse;
    font: 1rem 'Fira Sans', sans-serif;
    width:80%;
    margin:20px;
}

.resultHead{
    background-color: rgb(212, 205, 205);
}

td {
    text-align: center;
  }
  tr:hover {
    background-color:  rgb(212, 205, 205);;
  }
table, td, th {
    border: 1px solid black;
  }