<!-- <router-outlet></router-outlet> -->


<form [formGroup]="searchForm" (ngSubmit)="search()">
    <label >City </label>
    <select formControlName="city">
        <option *ngFor="let cityName of cityNames" [ngValue]="cities[cityName]">{{cityName}}</option>
     </select>
     <label >From Date: </label>
     <input type="date" formControlName="fromDate" />
     <label >To Date: </label>
     <input type="date" formControlName="toDate"  />
    <button type="submit" >Search</button>
</form>


<div class="loading" *ngIf="loading">Loading...</div>

<table class="results">
    <tr class = "resultHead">
      <th>id</th>
      <th>name</th>
      <th>stars</th>
      <th>customer rating</th>
      <th>address</th>
      <th>price</th>
    </tr>
    <tr *ngFor="let hotel of hotels$ | async">
      <td>{{hotel.id}}</td>
      <td>{{hotel.name}}</td>
      <td>
        <span *ngFor="let n of numSequence(hotel.starRating)">★</span>
        <span *ngFor="let n of numSequence(5-hotel.starRating)">☆</span></td>
      <td>{{hotel.customerRating}} out of 10</td>
      <td>{{hotel.address?hotel.address:'not-available'}}</td>
      <td>{{hotel.price}}€</td>
    </tr>
</table>

